body {
  margin: 0;
  padding: 0;
   font-family: 'DM Serif Display', serif;
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Rubik 80s Fade', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
